In [2]:
import pandas as pd
import numpy as np
import operator
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

## Loads in the different .feather datasets

In [ ]:
anp_df = pd.read_feather('data/anp.feather')
image_d_df = pd.read_feather('data/image_data.feather')
image_m_df = pd.read_feather('data/image_metrics.feather')
face_df = pd.read_feather('data/face.feather')
object_df = pd.read_feather('data/object_labels.feather')
survey_df = pd.read_feather('data/survey.feather')

In [ ]:
image_d_df.to_csv('image_d_df.csv')
image_m_df.to_csv('image_m_df.csv')

In [ ]:
image_d_df = pd.read_feather('data/image_data.feather')

# Adding together image data, anp, object label and face.

The next step is to create one dataframe, grouped per user, containing the aggregate data that was pulled from the users their instagram accounts.

## anp_df

#### method:

1. the anp label is dropped because it does not make sense to aggregate this. 
2. the dataframe is then split into a sentiment dataframe and an emotion dataframe for seperate processing.

In [ ]:
# drop anp_label

anp_df = anp_df.drop(['anp_label'], axis=1)

In [ ]:
# make sentiment df

anp_sent = anp_df.drop(['emotion_score', 'emotion_label'], axis = 1)
anp_sent = pd.DataFrame(anp_sent.groupby(by='image_id', as_index=False)['anp_sentiment'].mean())
anp_sent = anp_sent.set_index('image_id')

In [ ]:
# split for emotion

anp_emo = anp_df.drop(['anp_sentiment'], axis = 1)
len(anp_emo['image_id'].unique())

In [ ]:
# the emotion with the highest score is taken for each user

ax = anp_emo.groupby(['image_id'])['emotion_score'].transform(max) == anp_emo['emotion_score']
anp_emo = anp_emo[ax]

In [ ]:
# duplicates are removed to get only unique images

anp_emo = anp_emo.drop_duplicates()
anp_emo = anp_emo.set_index('image_id')

In [ ]:
# the emotion and sentiment dataframes are merged again.

anp_final = anp_sent.join(anp_emo)

## Image_d_df

#### method:
1. Thing that can not be aggregated such as image_link, etc, are dropped from the dataframe. 
2. Timestamp is changed so that only the hour from 00 - 23 is included.

In [ ]:
# drop unnecesarry data

image_d_df = image_d_df.drop(['image_link','image_url', 'user_full_name', 'user_name'\
                              , 'user_website','user_profile_pic', 'user_bio', 'image_posted_time_unix'], axis=1)

In [ ]:
# change timestamp to be 24 hours

import re

def changeTime(time):
    time = time.split()[1]
    time = time.split(':')[0]
    time = time.lstrip('0')
    time = ''.join([i for i in time if re.match('[0-9]', i) is not None])
    try: 
        return int(time)
    except:
        return 0

image_d_df['posting_time'] = image_d_df['image_posted_time'].apply(lambda x: changeTime(x))

In [ ]:
# set indesx to image id and drop image_posted_time

image_d_df = image_d_df.set_index('image_id')
image_d_df = image_d_df.drop('image_posted_time', axis=1)

## Image_m_df

#### method: 
1. drop things that we do not need

In [ ]:
image_m_df = image_m_df.drop(['comment_count_time_created', 'like_count_time_created'], axis=1)

In [ ]:
image_m_df = image_m_df.set_index('image_id')
image_m_df



## object_df

#### method:
1. Only take the object with highest confidence level for each picture.

In [ ]:
# take object with max confidence

group = object_df.groupby(['image_id', 'data_amz_label'])['data_amz_label_confidence'].transform(max) == object_df['data_amz_label_confidence']
object_df = object_df[group]

## face_df: emotion

#### method:

1. first a split is made for face emotion
2. images are grouped by image_id and face_id, for each image we check how many faces have a certain emotion. The highest number of face emotions is picked as the image emotion.
3. If we have an equal number (let's say 1 joy face and 1 sad face, the emotion with the highest confidence level is selected.)

In [ ]:
# first, split for face emotion

face_emo = face_df[['image_id', 'face_id', 'face_emo', 'emo_confidence']]
ab = face_emo.groupby(['image_id', 'face_id'])['emo_confidence'].transform(max) == face_emo['emo_confidence']
face_emo = face_emo[ab]

In [ ]:

# get unique image_id's
UniqueNames = face_emo.image_id.unique()

def changeDataFrame(df):
    
    new_list = []
    
    for _id in UniqueNames:
        
        # check whether one emotion is found more often than others
        
        df_temp = face_emo.loc[face_emo['image_id'] == _id]
        counts = df_temp['face_emo'].value_counts().to_dict()
        maximum = sorted(counts.items(), key=operator.itemgetter(1))

        # if there is an equal number of emotions look at confidence.
        
        if len(maximum) > 1:
            if maximum[0][1] == maximum[1][1]:

                group = df_temp.groupby(['image_id'])['emo_confidence'].transform(max) == df_temp['emo_confidence']
                new_slice = df_temp[group]
                new_list.append([new_slice['image_id'].values[0], new_slice['face_emo'].values[0]])  
                
            else: 
                new_list.append([df_temp['image_id'].values[0], maximum[0][0]])

        # else select the emotion that is present on most faces.
        
        else: 
            new_list.append([df_temp['image_id'].values[0], maximum[0][0]])
            
    output_df = pd.DataFrame(new_list, columns=['image_id','face_emo'])
    
    return output_df
    

new_emo = changeDataFrame(face_emo)

## face_df: finding the number of faces

#### method:
1. aggregate number of faces per picture

In [ ]:
# take image_id, face_id and emo_confidence

face_no_df = face_df[['image_id', 'face_id', 'emo_confidence']]
group = face_no_df.groupby(['image_id', 'face_id'])['emo_confidence'].transform(max) == face_no_df['emo_confidence']
face_no_df = face_no_df[group].drop('emo_confidence', axis=1)

In [ ]:
# aggregate for number of faces 
face_count_df = pd.DataFrame(face_no_df['image_id'].value_counts())
face_count_df['no_of_faces'] = face_count_df['image_id']
face_count_df = face_count_df.drop('image_id', axis=1)

## face_df: find average age per picture

1. select face age low and high
2. take the mean value for each face
3. take the mean of those values for each picture

In [ ]:
face_df_age = face_df[['image_id', 'face_age_range_low', 'face_age_range_high']]

In [ ]:
# taking mean per face
face_df_age['average_age'] = (face_df_age['face_age_range_low'] + face_df_age['face_age_range_high'])/2
face_df_age

# taking mean per picture
average_age_df = pd.DataFrame(face_df_age.groupby('image_id')['average_age'].mean())

In [ ]:
# object_df.to_csv('object.csv')
# face_df.to_csv('face.csv')

In [ ]:
# survey_df.to_csv('survey.csv')

In [ ]:
image_d_df

# Merge different dataframes

1. join different dataframes by image_id
2. aggregate for user_id

In [ ]:
# merge different dataframes
df1 = anp_final.join(image_d_df)
df2 = df1.join(face_count_df)
df3 = df2.join(average_age_df)
df4 = df3.join(image_m_df)



'''
' TODO
' Also join object dataframe and new_emo dataframe
'''

In [ ]:
df4

In [ ]:
quant_df = df4.drop(['emotion_label', 'emotion_score', 'image_filter'], axis=1)
quant_df

In [ ]:
quant_df = quant_df.groupby(by='user_id').mean()
# quant_df.to_csv('analysisfile.csv')
quant_df

In [16]:
quant_df = pd.read_csv('analysisfile.csv')
face_df = pd.read_csv('face.csv')
survey_df = pd.read_csv('survey.csv')

In [ ]:
# quant_df.to_csv('analysis.csv')

## Extra: try to get smile percentage per picture

In [ ]:
# Takes all the face smiles where the confidence level is more than 80 percent
face_smile_df = face_df.loc[face_df['face_smile_confidence'] > 80]

# make dataframe split to include smile
face_smile_df = face_smile_df[['image_id', 'face_smile', 'face_id']]

# drop duplicate values
face_smile_df = face_smile_df.drop_duplicates()
face_smile_df = face_smile_df.drop('face_id', axis=1)

group = face_smile_df.groupby(['image_id', 'face_smile'])['face_smile'].count()
group = pd.DataFrame(group / group.groupby(level=0).sum())
# face_smile_df[group]

group
# face_smile_df = group.loc[group['face_smile'] == True]
# face_smile_df


# face_smile_df = face_smile_df.groupby(by='image_id')['face_smile'].count()
# face_smile_df.head

## Merge survey dataframe and analysis dataframe

In [ ]:
survey_df = pd.read_feather('data/survey.feather')

In [5]:
survey_df['insta_user_id'] = survey_df['insta_user_id'].apply(lambda x: str(int(x)))

In [6]:
survey_df = survey_df.set_index('insta_user_id')

In [12]:
survey_df

,Unnamed: 0,id,gender,born,education,employed,income,A_2,N_1,P_1,...,P,E,R,M,A,PERMA,N_EMO,P_EMO,imagecount,private_account
insta_user_id,,,,,,,,,,,,,,,,,,,,,
619868570,0,920bf027f7d13dbdc7b66b3d3324903c,Male,1975,College graduate,Employed for wages,"$30,000 to $39,999",4,5,5,...,5,3.0,6.0,6.0,4.0,5,5.0,5,465.0,public
187920333,1,b433b2bfe49e28d0b7c45925b53084e0,Male,1978,College graduate,Employed for wages,"$20,000 to $29,999",8,0,9,...,9,7.0,9.0,8.0,7.0,9,0.0,9,6.0,public
513324264,2,4becd8768d42ffa6ef0a17d827f230a2,Male,1980,High school graduate,Self-employed,"$40,000 to $49,999",7,7,6,...,6,9.0,6.0,6.0,8.0,6,7.0,6,NaN,private
3437021077,3,01d90eeb34866d03c52925738da7865f,Male,1959,College graduate,Employed for wages,"$10,000 to $19,999",6,4,1,...,1,5.0,3.0,3.0,3.0,1,4.0,1,NaN,private
33420910,4,f4f54676f75f47c17dc434cf68845328,Female,1990,High school graduate,Employed for wages,"$80,000 to $89,999",7,3,8,...,8,7.0,8.0,8.0,7.0,8,3.0,8,767.0,public
2143580844,5,a27a5fc47a59f35761705330253a58e3,Male,1997,High school graduate,Employed for wages,"$20,000 to $29,999",7,5,7,...,7,4.0,4.0,7.0,7.0,7,5.0,7,43.0,public
263042348,6,0a1002b2232a4ecbde604462f6d84bf9,Female,1993,College graduate,A student,"$20,000 to $29,999",7,5,7,...,7,4.0,7.0,7.0,6.0,7,5.0,7,73.0,public
3883341710,7,310683eb0a1c1dc562f93a494eed6c30,Male,1975,College graduate,Employed for wages,"$70,000 to $79,999",3,3,2,...,2,5.0,4.0,5.0,4.0,2,3.0,2,NaN,private
575216627,8,588835413f5904ea0a2571d6bf2c8937,Female,1977,High school graduate,Employed for wages,"$50,000 to $59,999",7,5,8,...,8,7.0,8.0,7.0,7.0,8,5.0,8,NaN,private
33247544,9,bbcc967d77639652fb7e44884bc99553,Female,1990,College graduate,Employed for wages,"$50,000 to $59,999",9,2,9,...,9,8.0,10.0,8.0,10.0,9,2.0,9,NaN,private
3988856,10,8393c367c91dbc479eb9bdb2e41e6eb5,Female,1979,High school graduate,Self-employed,"$100,000 to $149,999",7,8,10,...,10,10.0,10.0,8.0,9.0,10,8.0,10,609.0,public
1429720420,11,ec67c44722c7dae7f869aa67a27547d6,Female,1992,College graduate,Employed for wages,"$70,000 to $79,999",8,3,8,...,8,8.0,10.0,9.0,10.0,8,3.0,8,16.0,public
53918317,12,b6822b40258fa0e68a75c5230a3fdc83,Female,1980,High school graduate,Out of work but not currently looking for work,"$30,000 to $39,999",7,8,1,...,1,7.0,8.0,5.0,5.0,1,8.0,1,105.0,public
1419948220,13,a1ca9251a6cc4c3706ef76f9d0818e3a,Female,1971,College graduate,A homemaker,"$100,000 to $149,999",7,5,7,...,7,10.0,6.0,8.0,7.0,7,5.0,7,NaN,private
458089661,14,2a3a5b9d06c07d2f03ae4b7366d4bf4e,Female,1990,College graduate,Out of work and looking for work,"$30,000 to $39,999",8,5,7,...,7,8.0,8.0,8.0,8.0,7,5.0,7,NaN,private
1441644483,15,a3835e8be78d53d3b87e8230e26b3a97,Male,1984,High school graduate,Employed for wages,"$30,000 to $39,999",8,2,5,...,5,8.0,10.0,6.0,8.0,5,2.0,5,52.0,public
11520833,16,2c3579cbf6ddc98313910d9d7fabb70c,Female,1978,High school graduate,A homemaker,"$90,000 to $99,999",7,3,7,...,7,8.0,10.0,7.0,8.0,7,3.0,7,312.0,public
374748816,17,6a0f53ee72bd354ef913ac3937cc9f93,Female,1983,College graduate,Employed for wages,"$80,000 to $89,999",5,7,7,...,7,6.0,9.0,6.0,3.0,7,7.0,7,NaN,private
589215950,18,2bb11103467826cdf8b7ab623acf002e,Female,1963,High school graduate,Self-employed,"$20,000 to $29,999",9,2,7,...,7,9.0,10.0,8.0,9.0,7,2.0,7,8.0,public
56124482,19,5708f5cb0927d9eae2be26a8844188c9,Female,1989,College graduate,Employed for wages,"$60,000 to $69,999",8,5,7,...,7,6.0,10.0,7.0,7.0,7,5.0,7,NaN,private
2111135225,20,f524320a94947a285aebffeb3d4bed62,Male,1996,High school graduate,A student,"$10,000 to $19,999",8,2,6,...,6,7.0,8.0,9.0,7.0,6,2.0,6,5.0,public
174909693,21,af94b294722ebd6a013d7d0a777d9ef1,Female,1979,College graduate,Employed for wages,"$20,000 to $29,999",10,9,9,...,9,8.0,7.0,7.0,8.0,9,9.0,9,NaN,private
478094419,22,ffea3211066b28da7856348c93477090,Female,1977,College graduate,A homemaker,"$70,000 to $79,999",6,8,5,...,5,8.0,9.0,8.0,8.0,5,8.0,5,NaN,private
3937564063,23,d328317332b5b402725b2a0a27b9739b,Female,1980,College graduate,Employed for wages,"$30,000 to $39,999",7,7,7,...,7,8.0,8.0,8.0,8.0,7,7.0,7,NaN,private
246535583,24,885fad61df267191dc98113b39c0b1aa,Female,1992,High school graduate,Employed for wages,"$30,000 to $39,999",10,0,10,...,10,10.0,10.0,10.0,10.0,10,0.0,10,3.0,public
30459359,25,ff1af0e64c9a028328e439f121c5d4b2,Female,1994,College graduate,Employed for wages,"$60,000 to $69,999",6,4,4,...,4,6.0,4.0,4.0,4.0,4,4.0,4,92.0,public
4228865147,26,f241245c4cb97d0607ebcb131b07ea65,Female,1970,High school graduate,Employed for wages,"$80,000 to $89,999",8,4,8,...,8,8.0,9.0,9.0,8.0,8,4.0,8,NaN,private
2264409557,27,f6e92380f3e372a37cdccd2adb55aa32,Female,1991,College graduate,Employed for wages,"$20,000 to $29,999",7,4,6,...,6,8.0,7.0,7.0,7.0,6,4.0,6,501.0,public
467546900,28,7e1487aa43668f5de139a916c92b1363,Male,1991,College graduate,Employed for wages,"$40,000 to $49,999",8,2,7,...,7,2.0,8.0,7.0,4.0,7,2.0,7,NaN,private
509580389,29,ca84f63beb074477786a875085e571f8,Male,1983,College graduate,Employed for wages,"$100,000 to $149,999",7,5,7,...,7,8.0,8.0,8.0,4.0,7,5.0,7,NaN,private
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1649725615,302,f30e8992b09dc946be025ec96c61cfa5,Male,1985,College graduate,Employed for wages,"$30,000 to $39,999",8,1,9,...,9,9.0,7.0,10.0,9.0,9,1.0,9,NaN,private
49519677,303,c6bd75e9dbe842ca83592343494b9bd6,Female,1958,College graduate,Self-employed,"$20,000 to $29,999",5,10,4,...,4,10.0,1.0,4.0,6.0,4,10.0,4,16.0,public
190011156,304,9ce00751baa17a761bbcc546fa5d4e6d,Female,1989,High school graduate,Out of work and looking for work,"$40,000 to $49,999",5,8,5,...,5,8.0,7.0,8.0,3.0,5,8.0,5,368.0,public
462596467,305,0f2054cbeb798398a89f8de3e66724db,Female,1969,College graduate,Employed for wages,"$20,000 to $29,999",8,4,9,...,9,7.0,6.0,7.0,6.0,9,4.0,9,NaN,private
4249629173,306,f993dca0781c7c1c67f28ffcbf7c45ea,Male,1995,Some high school,Self-employed,"$10,000 to $19,999",7,5,4,...,4,7.0,3.0,6.0,7.0,4,5.0,4,45.0,public
345248280,307,f886bf762c0202d8f5cfd3701e39816b,Female,1995,High school graduate,Self-employed,"Less than $10,000",7,4,7,...,7,5.0,7.0,10.0,8.0,7,4.0,7,82.0,public
372088523,308,d99077af623749161a83e2aef4d2b176,Female,1981,College graduate,Out of work and looking for work,"$50,000 to $59,999",7,6,6,...,6,7.0,7.0,6.0,5.0,6,6.0,6,1292.0,public
3307208767,309,eb089a8d0fae113e6dafe6910e687cbb,Male,1990,High school graduate,Self-employed,"$20,000 to $29,999",5,7,5,...,5,5.0,2.0,4.0,3.0,5,7.0,5,NaN,private
1191124523,310,3055d137c9f0800cca115462d488c8f9,Male,1988,Post graduate degree,Self-employed,"$50,000 to $59,999",7,2,2,...,2,8.0,10.0,10.0,9.0,2,2.0,2,NaN,private
4789190546,311,b5f4e9e5e428d7cc0b085f83371a8219,Male,1993,College graduate,Self-employed,"$90,000 to $99,999",9,2,9,...,9,5.0,4.0,9.0,9.0,9,2.0,9,NaN,private
1440030357,312,85f10a6f0e39a25c7441974193a71642,Female,1989,High school graduate,Employed for wages,"$30,000 to $39,999",0,8,3,...,3,5.0,4.0,0.0,1.0,3,8.0,3,NaN,private
4801067720,313,c74d9881d29abb83d2d7b60ff9f54474,Female,1987,High school graduate,Out of work and looking for work,"$40,000 to $49,999",5,7,4,...,4,8.0,5.0,4.0,5.0,4,7.0,4,NaN,private
4361943417,314,795ce1b6628f2038a70e9e8c5e558673,Female,1966,High school graduate,Self-employed,"$80,000 to $89,999",8,5,9,...,9,9.0,9.0,10.0,7.0,9,5.0,9,NaN,private
1577494782,315,0bf5d535cd07ab28bdc4ac85a728521e,Male,1971,College graduate,Employed for wages,"$40,000 to $49,999",6,3,5,...,5,8.0,0.0,6.0,5.0,5,3.0,5,NaN,private
491778331,316,27d8eb99e57635ef3f1c6b9f9ce428e8,Male,1997,High school graduate,A student,"Less than $10,000",8,9,5,...,5,9.0,3.0,7.0,7.0,5,9.0,5,NaN,private
4826489319,317,201de306bae7b4a631b65f40072e0dfa,Female,1980,Post graduate degree,Employed for wages,"$20,000 to $29,999",7,5,8,...,8,7.0,5.0,6.0,9.0,8,5.0,8,NaN,private
4831113241,318,5839a4fc9479a9b23747536ea5232133,Male,1990,Post graduate degree,Out of work but not currently looking for work,"$70,000 to $79,999",8,5,7,...,7,8.0,7.0,9.0,9.0,7,5.0,7,NaN,private
1901242351,319,5ea5607229b339a7cee33b413a3586e5,Female,1988,College graduate,Self-employed,"$70,000 to $79,999",3,10,6,...,6,5.0,10.0,9.0,8.0,6,10.0,6,240.0,public
3898534831,320,d2faacd6423135d037a3a84a31421854,Male,1998,High school graduate,Employed for wages,"$10,000 to $19,999",7,9,7,...,7,4.0,7.0,6.0,6.0,7,9.0,7,NaN,private
4372264929,321,a61d5b0ae0c024fcb7195d415277bae2,Male,1990,College graduate,Employed for wages,"$80,000 to $89,999",7,4,9,...,9,7.0,10.0,10.0,6.0,9,4.0,9,NaN,private
1620631389,322,f1078180c68c33ca4f9eb90bb5caeae8,Female,1992,High school graduate,Employed for wages,"Less than $10,000",7,6,8,...,8,8.0,7.0,7.0,8.0,8,6.0,8,NaN,private
2091147301,323,2759750c4e25cfce75ff6a5810cce3ad,Female,1986,High school graduate,Employed for wages,"$10,000 to $19,999",6,8,6,...,6,8.0,5.0,6.0,5.0,6,8.0,6,NaN,private
20621627,324,e86c6beed0b79cbea5975267f5389be8,Male,1986,College graduate,Employed for wages,"$40,000 to $49,999",6,2,8,...,8,3.0,5.0,7.0,6.0,8,2.0,8,125.0,public
2243272593,325,4242b1a957ee48068acb807da7e0ccb7,Female,2000,Some high school,A student,I'd rather not disclose this information,6,10,3,...,3,6.0,9.0,7.0,4.0,3,10.0,3,NaN,private
3313623552,326,d2a8a752c021cfc4625de5609ef4dfc5,Male,1992,College graduate,Employed for wages,"$100,000 to $149,999",8,5,7,...,7,7.0,10.0,7.0,8.0,7,5.0,7,NaN,private
325893678,327,2f2792e13a8a1943c03b953d407ccc41,Male,1998,High school graduate,A student,"Less than $10,000",8,4,6,...,6,10.0,8.0,10.0,8.0,6,4.0,6,112.0,public
531942752,328,0d46831b5a6cd84aa0afc9bb7d9d33ba,Female,1992,College graduate,Out of work and looking for work,"$10,000 to $19,999",7,5,4,...,4,9.0,9.0,6.0,6.0,4,5.0,4,65.0,public
545497348,329,5c00241efe438d0b0ee4ecb44542ff5c,Female,1979,College graduate,Self-employed,"$30,000 to $39,999",8,7,6,...,6,9.0,4.0,8.0,8.0,6,7.0,6,505.0,public
4872039153,330,fffe0bd1b442ee764077f73d65e86d3f,Male,1996,High school graduate,Employed for wages,"$20,000 to $29,999",5,3,6,...,6,6.0,3.0,3.0,4.0,6,3.0,6,NaN,private
4081670091,331,d0dca9baf3663c92f61b47aa56454390,Male,1991,College graduate,Self-employed,"$30,000 to $39,999",7,7,6,...,6,8.0,7.0,4.0,8.0,6,7.0,6,NaN,private

In [22]:
regr_df = quant_df.join(survey_df)

In [8]:

regr_df = regr_df.drop(['A_2', 'N_1', 'P_1', 'E_1', 'A_1',
       'H_1', 'M_1', 'R_1', 'M_2', 'E_2', 'LON', 'H_2', 'P_2', 'N_2', 'A_3',
       'N_3', 'E_3', 'H_3', 'R_2', 'M_3', 'R_3', 'P_3', 'HAP','network_id', 'P', 'E', 'R', 'M', 'A', 'start_q', 'end_q', 'private_account'], axis=1)

In [ ]:
image_d_df['emotion)']

In [ ]:
from pandas.plotting import scatter_matrix
%matplotlib inline

scatter_matrix(regr_df[['PERMA','anp_sentiment', 'data_memorability',
       'user_followed_by', 'user_follows', 'user_posted_photos',
       'posting_time', 'no_of_faces', 'average_age','imagecount']], alpha=1.0, figsize=(20, 20), diagonal='kde')

In [107]:
new_df = regr_df

new_df.dropna(how='any', inplace=True)

In [108]:
X = new_df[['user_posted_photos', 'user_follows', 'user_followed_by', 'no_of_faces', 'imagecount']]
X['x1'] = X['user_posted_photos'] * X['user_follows']
X['x2'] = X['user_followed_by'] * X['user_followed_by']
X['x3'] = 1 / X['imagecount']

y = new_df['PERMA']

D:\Programs\Anaconda\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
D:\Programs\Anaconda\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
D:\Programs\Anaconda\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [109]:
from sklearn.linear_model import LogisticRegression, Lasso, Ridge
from sklearn.cross_validation import cross_val_score, cross_val_predict
from sklearn import metrics

# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

lm = LogisticRegression()

#predicted = cross_val_predict(lr, X_train, y_test, cv=10)

predicted = cross_val_predict(LogisticRegression(), X, y, cv=15)

accuracy = metrics.accuracy_score(y, predicted)

print('Accuracy: ', accuracy)

# Show metrics
#print('Coefficients: \n', lm.coef_)
# The mean squared error
# print("Mean squared error: %.2f"
#       % mean_squared_error(y, y_predict))
# # Explained variance score: 1 is perfect prediction
# print('Variance score: %.2f' % r2_score(y, y_predict))

('Accuracy: ', 0.24324324324324326)

# results from regression

#### 1. PERMA ~ anp_sentiment

Correlation: 0.21477

Coefficients: 
 [[ 4.68761213]]
Mean squared error: 3.59
Variance score: 0.03

#### 2. PERMA ~ posting_time

correlation: -0.205047

Coefficients: 
 [[-0.12492383]]
Mean squared error: 2.93
Variance score: -0.08

#### 3. PERMA ~ data_memorability

correlation: 0.195383

Coefficients: 
 [[ 9.01465037]]
Mean squared error: 1.98
Variance score: -0.04

#### 4. PERMA ~ imagecount	

correlation: -0.112792

Coefficients: 
 [[-0.00031376]]
Mean squared error: 3.32
Variance score: 0.04